* {

  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  margin: 44px 0 144px 76px
}

.header-link {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  color: rgba(152, 157, 156, 1);
  cursor: pointer;
  margin-right: 23px;
  text-decoration: none;
}

.button-header {
  background: rgba(102, 90, 225, 1);
  border-radius: 50px;
  width: 130px;
  height: 41px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 29.26px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.imagem-main {
  width: 548px;
  Height: 490px;
  margin-left: 125px;
  display: inline-block;
}

section {
  display: inline-block;
  margin-left: 20px;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 121.9px;
  color: rgba(81, 81, 81, 1);
  margin-top: 50px;
}

h2 {
  font-size: 38px;
  font-weight: 500;
  line-height: 70.7px;
  color: rgba(81, 81, 81, 1);
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px;
  color: rgba(132, 132, 132, 1);
  width: 515px;
  margin-top: 32px;
  margin-bottom: 65px;
}

.button-main {
  width: 239px;
  height: 64px;
  border-radius: 50px;
  background: rgba(173, 255, 0, 1);
  font-size: 28px;
  font-weight: 700;
  line-height: 34.13px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}